@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
html {
  height: 100%;
  background-color: #ede9ec;
  color: #131313;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mainBgColor {
  background-color: #50d0d2;
}
